@model MovimentoAulaViewModel

<div class="form-group">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-8">
                    @Html.LabelFor(model => model.Aluno)
                    @Html.DropDownListFor(model => model.idAluno, Model.Aluno, String.Empty, new { @class = "form-control", data_behaviour = "select2", data_placeholder = "Escolha uma opção" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    @Html.LabelFor(model => model.Descricao)
                    @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Descricao)
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.HoraInicio)
                    <div class="input-group">

                        <div id="timepicker1" class="input-group date">
                            @Html.TextBoxFor(model => model.HoraInicio, new { maxlength = 5, @data_format = "hh:mm", @class = "form-control", Value = DateTime.Now.ToShortTimeString() })
                            <span class="input-group-addon datepicker-addon">
                                <i data-time-icon="glyphicon glyphicon-time" data-date-icon="glyphicon glyphicon-time"></i>
                            </span>
                        </div>

                    </div>
                    @Html.ValidationMessageFor(model => model.HoraInicio)
                </div>
            </div>
            <div class="row">
            <div class="col-md-2">
                @Html.LabelFor(model => model.HoraFinal)
                <div class="input-group">

                    <div id="timepicker2" class="input-group date">
                        @Html.TextBoxFor(model => model.HoraFinal, new { maxlength = 5, @data_format = "hh:mm", @class = "form-control", Value = DateTime.Now.ToShortTimeString() })
                        <span class="input-group-addon datepicker-addon">
                            <i data-time-icon="glyphicon glyphicon-time" data-date-icon="glyphicon glyphicon-time"></i>
                        </span>
                    </div>

                </div>
                @Html.ValidationMessageFor(model => model.HoraFinal)
            </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    @Html.LabelFor(model => model.QtdHoras)
                    @Html.TextBoxFor(model => model.QtdHoras, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.QtdHoras)
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    @Html.LabelFor(model => model.Professor)
                    @Html.DropDownListFor(model => model.idProfessor, Model.Professor, String.Empty, new { @class = "form-control", data_behaviour = "select2", data_placeholder = "Escolha uma opção" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.Grupo)
                    <div class="input-group">
                        @Html.TextBoxFor(model => model.Grupo, new { @class = "form-control" })
                        
                        <span class="input-group-btn"><button id="btnGrupo" type="button" class="btn btn-default"><i class="glyphicon glyphicon-asterisk"></i> Obter Grupo</button></span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Grupo)
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-lg-2">
                    @Html.LabelFor(model => model.DataMovimento)
                    <div class="input-group" data-behaviour="datepicker">
                        @Html.TextBoxFor(model => model.DataMovimento, new { Value = Model.DataMovimento.ToString("dd/MM/yyyy"), @class = "form-control" })
                        <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="glyphicon glyphicon-calendar"></i></button></span>
                    </div>
                    @Html.ValidationMessageFor(model => model.DataMovimento)
                </div>
            </div>

        </div>
    </div>
</div>

@Html.HiddenFor(model => model.id)
@Html.ValidationMessageFor(model => model.id)

