@model MovimentoAula

<div class="row">
    <div class="col-md-10">
        <ul class="list-unstyled">
            <li><label> aluno:</label> @Model.aluno.nome </li>
            <li><label> Descricao:</label> @Model.Descricao </li>
            <li><label> HoraInicio:</label> @Model.HoraInicio </li>
            <li><label> HoraFinal:</label> @Model.HoraFinal </li>
            <li><label> QtdHoras:</label> @Model.QtdHoras </li>
            <li><label> professor:</label> @Model.professor.Nome </li>
            <li><label> Grupo:</label> @Model.Grupo </li>
            <li><label> DataMovimento:</label> @Model.DataMovimento </li>
        </ul>
    </div>
</div>
