@model Aluno

<div class="row">
    <div class="col-md-10">
        <ul class="list-unstyled">
            <li><label> nome:</label> @Model.nome </li>
            <li><label> nomePai:</label> @Model.nomePai </li>
            <li><label> nomeMãe:</label> @Model.nomeMae </li>
            <li><label> endereço:</label> @Model.endereco </li>
            <li><label> telefone:</label> @Model.telefone </li>
            <li><label> celular:</label> @Model.celular </li>
            <li><label> dtInicioAulas:</label> @Model.dtInicioAulas </li>
            <li><label> dtVencAulas:</label> @Model.dtVencAulas </li>
            <li><label> dtNascimento:</label> @Model.dtNascimento </li>
            <li><label> disciplinas:</label> @Model.disciplinas </li>
            <li><label> serie:</label> @Model.serie </li>
            <li><label> email:</label> @Model.email </li>
            <li><label> celularPai:</label> @Model.celularPai </li>
            <li><label> celularMae:</label> @Model.celularMae </li>
            <li><label> escola:</label> @Model.escola </li>
            <li><label> observacao:</label> @Model.observacao </li>
        </ul>
    </div>
</div>
