@model AlunoViewModel

<div class="form-group">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.nome)
                    @Html.TextBoxFor(model => model.nome, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.nome)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.nomePai)
                    @Html.TextBoxFor(model => model.nomePai, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.nomePai)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.nomeMae)
                    @Html.TextBoxFor(model => model.nomeMae, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.nomeMae)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.endereco)
                    @Html.TextBoxFor(model => model.endereco, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.endereco)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.telefone)
                    @Html.TextBoxFor(model => model.telefone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.telefone)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.celular)
                    @Html.TextBoxFor(model => model.celular, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.celular)
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    @Html.LabelFor(model => model.dtInicioAulas)
                    <div class="input-group" data-behaviour="datepicker">
                        @Html.TextBoxFor(model => model.dtInicioAulas, new { Value = Model.dtInicioAulas.ToString("dd/MM/yyyy"), @class = "form-control" })
                        <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="glyphicon glyphicon-calendar"></i></button></span>
                    </div>
                    @Html.ValidationMessageFor(model => model.dtInicioAulas)
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.dtVencAulas)
                    <div class="input-group" data-behaviour="datepicker">
                        @Html.TextBoxFor(model => model.dtVencAulas, new { Value = Model.dtVencAulas.ToString("dd/MM/yyyy"), @class = "form-control" })
                        <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="glyphicon glyphicon-calendar"></i></button></span>
                    </div>
                    @Html.ValidationMessageFor(model => model.dtVencAulas)
                </div>
                <div class="col-md-3">
                    @Html.LabelFor(model => model.dtNascimento)
                    <div class="input-group" data-behaviour="datepicker">
                        @Html.TextBoxFor(model => model.dtNascimento, new { Value = Model.dtNascimento.ToString("dd/MM/yyyy"), @class = "form-control" })
                        <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="glyphicon glyphicon-calendar"></i></button></span>
                    </div>
                    @Html.ValidationMessageFor(model => model.dtNascimento)
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.disciplinas)
                    @Html.TextBoxFor(model => model.disciplinas, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.disciplinas)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.serie)
                    @Html.TextBoxFor(model => model.serie, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.serie)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.email)
                    @Html.TextBoxFor(model => model.email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.email)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.celularPai)
                    @Html.TextBoxFor(model => model.celularPai, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.celularPai)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.celularMae)
                    @Html.TextBoxFor(model => model.celularMae, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.celularMae)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.escola)
                    @Html.TextBoxFor(model => model.escola, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.escola)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.observacao)
                    @Html.TextBoxFor(model => model.observacao, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.observacao)
                </div>
            </div>

        </div>
    </div>
</div>
@Html.HiddenFor(model => model.id)
@Html.ValidationMessageFor(model => model.id)
