@model Aluno

<div class="page-title">
    <h1>ALUNOS</h1>
</div>

@using (Html.BeginForm())
{
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h4>EXCLUIR ALUNO?</h4>
        </div>
        <div class="panel-body">
            @Html.Partial("_CamposDetalhe")
        </div>
        <div class="panel-footer text-right">
            @Html.LinkVoltarAListagem()
            <button type="submit" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Excluir</button>
        </div>
    </div>
}