@model AlunoViewModel

<div class="page-title">
    <h1>ALUNOS</h1>
</div>

@using (Html.BeginForm())
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>EDITAR ALUNO</h4>
        </div>
        <div class="panel-body">
            @Html.Partial("_CamposFormulario")
        </div>
        <div class="panel-footer text-right">
            @Html.LinkVoltarAListagem()
            <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> Alterar</button>
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('#dtInicioAulas').mask("99/99/9999");
            $('#datepicker1').datetimepicker({
                startDate: '@DateTime.Now',
                pickTime: false
            });

            $('#dtVencAulas').mask("99/99/9999");
            $('#datepicker2').datetimepicker({
                startDate: '@DateTime.Now',
                pickTime: false
            });

            $('#dtNascimento').mask("99/99/9999");
            $('#datepicker3').datetimepicker({
                startDate: '@DateTime.Now',
                pickTime: false
            });
        });
</script>
}