﻿@model Usuario

<div class="row">
    <div class="col-md-2">
        <img src="@Url.Content("/Content/Images/loading.gif")" class="profile-img img-circle" data-src="@Url.Action("Foto", "Usuarios", new { login = Model.login })" />
    </div>
    <div class="col-md-10">
        <h2 class="text-primary" style="margin-top: 0;">
            @Model.professor.Nome 
            @if (Model.estaOnline == true)
            {
                <img src="@Url.Content("/Content/Images/Icons/bullet-green.png")" data-toggle="tooltip" data-original-title="Usuário Online" />
            }
            else
            {
                <img src="@Url.Content("/Content/Images/Icons/bullet-grey.png")" data-toggle="tooltip" data-original-title="Usuário Offline" />
            }
        </h2>
        <ul class="list-unstyled">
            <li><label><i class="glyphicon glyphicon-envelope"></i> E-mail:</label> @Model.professor.email</li>
            <li><label> Telefone:</label> @Model.professor.Telefone</li>
            <li><label> E-mail:</label> @Model.professor.email</li>
            <li><label> Endereço:</label> @Model.professor.Endereco</li>
        </ul>
        <p class="text-muted">Usuário criado dia @String.Format("{0:g}", Model.dataCriacao), o último login foi feito dia @String.Format("{0:g}", Model.ultimoLogin).</p>
    </div>
</div>