﻿@model UsuarioViewModel

<div class="form-group">
    <div class="row">
        <div class="col-md-2">
            <img id="foto" src="@Url.Content("/Content/Images/loading.gif")" class="profile-img img-circle" data-src="@Url.Action("Foto", "Usuarios", new { login = Model.login })" />
        </div>
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-8">
                    @Html.LabelFor(model => model.professorList)
                    @Html.DropDownListFor(model => model.IdProfessor, Model.professorList, String.Empty, new { @class = "form-control", data_behaviour = "select2", data_placeholder = "Escolha uma opção" })
                </div>
            </div>
            <div class="row" >
                <div class="col-md-4" >
                    <div id="dados" ></div>
                    @*@Html.LabelFor(model => model.login)
                    @Html.TextBoxFor(model => model.login, new { @class = "form-control", @readonly = true })
                    @Html.ValidationMessageFor(model => model.login)*@
                </div>

            </div>
            @*<div class="row">
                <div class="col-md-4">
	                @Html.LabelFor(model => model.email)
                    @Html.TextBoxFor(model => model.email, new { @class = "form-control", @readonly = true })
                    @Html.ValidationMessageFor(model => model.email)
                </div>
            </div>*@

            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Senha)
                    @Html.TextBoxFor(model => model.Senha, new { @class = "form-control", type = "password" })
                    @Html.ValidationMessageFor(model => model.Senha)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.ConfirmaSenha)
                    @Html.TextBoxFor(model => model.ConfirmaSenha, new { @class = "form-control", type = "password" })
                    @Html.ValidationMessageFor(model => model.ConfirmaSenha)
                </div>
            </div>

        </div>
    </div>
</div>
	
<div class="form-group">
	@Html.LabelFor(model => model.papeisList)
	@Html.EditorFor(model => model.papeisList, "CheckBoxList", new { name = "ids" })
	@Html.ValidationMessageFor(model => model.papeisList)
</div>

@Html.HiddenFor(model => model.id)
@Html.ValidationMessageFor(model => model.id)
	
@Html.HiddenFor(model => model.dataCriacao)
@Html.HiddenFor(model => model.ultimoLogin)