﻿@model UsuarioViewModel

<div class="page-header" >
    <h2>Novo Usuário</h2>
</div>

@using (Html.BeginForm())
{
    @Html.Partial("_CamposFormulario")
    <div class="well">
        <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> Criar</button>
        @Html.LinkVoltarAListagem()
    </div>
}

@section scripts{
    <script type="text/javascript">
        $(function () {

            $('#IdProfessor').click(function () {
                var widget = {
                    pIdProfessor: $('#IdProfessor').val()
                };

                $.ajax({
                    url: "/Usuarios/Buscar",
                    async: true,
                    type: "post",
                    datatype: 'json',
                    data: JSON.stringify(widget),
                    contentType: 'application/json',
                    success: function (data) {
                        $('#dados').empty();
                        $('#dados').append(data);
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(textStatus + " / " + errorThrown);
                    }
                });

            });
        });
    </script>
}