﻿@model Usuario

<div class="page-title">
    <h1>USUÁRIOS</h1>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>DETALHES DO USUÁRIO</h4>
    </div>
    <div class="panel-body">
        @Html.Partial("_CamposDetalhe")
    </div>
    <div class="panel-footer text-right">
        @Html.LinkVoltarAListagem()
        @if (User.IsInRole("Desenvolvedor"))
        {
            @Html.LinkEditar(Model.id)
        }
    </div>
</div>