﻿
@*<ul class="nav nav-pills">

<li class="dropdown" id="menu1">
    <a class="btn btn-success" data-toggle="dropdown" href="#menu1">
        <i class="icon-white icon-plus"></i> Nova Agenda
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        @foreach (var item in ViewBag.Agendas)
        {
            <li><a href="/AgendaAula/Create/@item.IdUsuario" > Na Agenda de @item.Nome</a></li>
        }
    </ul>
</li>
</ul>*@

<div id="calendar" style="width:98%"></div>

<div id="popupEventForm" class="modal hide" style="display: none;">
   <div class="modal-header"><h3>Adicionar novo Agendamento de Aula</h3></div>
  <div class="modal-body">
    <form id="EventForm" class="well">
        <input type="hidden" id="eventID">
        <label>Descrição</label>
        <input type="text" id="eventTitle" placeholder="Descrição"><br />
        <label>Data</label>
        <input type="text" id="eventDate"><br />
        <label>Hora</label>
        <input type="text" id="eventTime"><br />
        <label>Duração (minutos)</label>
        <input type="text" id="eventDuration" placeholder="15"><br />
    </form>
</div>
  <div class="modal-footer">
    <button type="button" id="btnPopupCancel" data-dismiss="modal" class="btn">Cancelar</button>
    <button type="button" id="btnPopupSave" data-dismiss="modal" class="btn btn-primary">Salvar evento</button>
  </div>
</div>
