﻿@{
    ViewBag.Title = "Home Page";
}

<div class="page-title">
    <h1>CONTROLE DE AULAS</h1>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>@ViewData["saudacao"]</h4>
    </div>
    <div class="panel-body">
        <ul class="nav nav-tabs hidden-xs">
            <li><a href="#tab-pane-alertas" data-toggle="tab">Alertas para Hoje</a></li>
            <li class="active"><a href="#tab-pane-agenda" data-toggle="tab">Agenda</a></li>
        </ul>

        <div class="tab-content" style="margin-top: 40px;">
            <div id="tab-pane-alertas" class="tab-pane ">
                <div>
                    <fieldset>
                        <legend>Aniversariantes</legend>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th><strong>Nome</strong></th>
                                    <th><strong>Idade</strong></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (Aluno item in ViewBag.lstAniversariantes)
                                {
                                    <tr>
                                        <td>@Html.Label(item.nome.ToString())</td>
                                        <td>@Html.Label((DateTime.Now.Year - item.dtNascimento.Year).ToString())</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </fieldset>

                </div>
            </div>
            <div id="tab-pane-agenda" class="tab-pane active">
                @Html.Partial("/Views/Home/_PartialAgenda.cshtml")
            </div>
        </div>
    </div>
</div>