﻿@model MvcSiteMapProvider.Web.Html.Models.MenuHelperModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

<ul class="nav navbar-nav">
    @foreach (var node in Model.Nodes)
    { 
        if (node.IsInCurrentPath || node.IsCurrentNode)
        {
            <li class="active dropdown">@Html.DisplayFor(m => node)
                @if (node.Children.Any()) {
                    @Html.DisplayFor(m => node.Children)
                }
            </li>
        }
        else
        {
            <li class="dropdown">@Html.DisplayFor(m => node) 
                @if (node.Children.Any()) {
                    @Html.DisplayFor(m => node.Children)
                }
            </li>
        }
    }
</ul>