﻿@model MvcSiteMapProvider.Web.Html.Models.SiteMapNodeModelList
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

<ul class="dropdown-menu">
    @{ int i = 0; }
    @foreach (var node in Model)
    {
        if (node.IsInCurrentPath || node.IsCurrentNode)
        {
            <li class="active">@Html.DisplayFor(m => node)</li>
        }
        else if (node.IsClickable)
        {
            <li>@Html.DisplayFor(m => node)</li>
        }
        else 
        {
            if (node.Title == "Separator")
            {
                if(i > 0)
                {
                    <li class="divider"></li>
                }
            }
            else
            {
                <li class="dropdown-header">@node.Title</li>
            }
        }
        i++;
    }
</ul>