﻿@model MvcSiteMapProvider.Web.Html.Models.SiteMapNodeModel
@using System.Web.Mvc.Html
@using MvcSiteMapProvider.Web.Html.Models

@if (Model.IsCurrentNode && Model.SourceMetadata["HtmlHelper"].ToString() != "MvcSiteMapProvider.Web.Html.MenuHelper")
{
    <text>@Model.Title</text>
}
else if (Model.IsClickable)
{
    if (Model.Children.Any())
    {
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            @if (Model.Attributes.Keys.Contains("icon"))
            {
                <i class="fa fa-@Model.Attributes["icon"]"></i>
            }
            @Model.Title @*<b class="caret"></b>*@
        </a>
    }
    else
    {
        <a href="@Model.Url">
            @if (Model.Attributes.Keys.Contains("icon"))
            {
                <i class="fa fa-@Model.Attributes["icon"]"></i>
            }
            @Model.Title
        </a>
    }
}
else
{
    <text>@Model.Title</text>
}