﻿@{
    Layout = "~/Views/Shared/_Erro.cshtml";
    ViewBag.Title = "Navegador Incompatível";
}

<strong>002</strong>
<h1>Opaaa! Navegador Incompatível...</h1>
<div class="error-message">
    <p>
        Desculpe, seu navegador está desatualizado ou é incompatível com o sistema.
        Atualize seu navegador ou entre em contato com o suporte técnico da GETI para te auxiliar.
    </p>
    <a href="http://www.google.com.br/chrome" class="btn btn-success"><img src="@Url.Content("~/Content/Images/Browser/chrome.png")" /><br />Google Chrome</a>
    <a href="http://www.mozilla.org/pt-BR/firefox/new/" class="btn btn-warning"><img src="@Url.Content("~/Content/Images/Browser/firefox.png")" /><br />Mozilla Firefox</a>
    <a href="http://windows.microsoft.com/pt-BR/internet-explorer/products/ie/home" class="btn btn-info"><img src="@Url.Content("~/Content/Images/Browser/ie.png")" /><br />Internet Explorer</a>
</div>