﻿@{
    Layout = "~/Views/Shared/_Erro.cshtml";
    ViewBag.Title = "Solicitação imprópria";
}

<strong>400</strong>
<h1>Opaaa! Solicitação imprópria...</h1>
<div class="error-message">
    <p>
        Desculpe, o servidor não pode compreender sua solicitação.
        Tente novamente dentro de instantes. Se o problema persistir entre em contato com a GETI.
    </p>
    @Html.ActionLink("Voltar para Página Inicial", "Index", "Home", null, new { @class = "btn btn-primary pull-right" })
    <div class="clearfix"></div>
</div>