﻿@{
    Layout = "~/Views/Shared/_Erro.cshtml";
    ViewBag.Title = "Acesso não autorizado";
}

<strong>401</strong>
<h1>Opaaa! Acesso não autorizado...</h1>
<div class="error-message">
    <p>
        Desculpe, a página que você estava procurando requer autenticação ou você não tem permissão para acessá-la.
        Em caso de dúvida entre em contato com a GETI.
    </p>
    @Html.ActionLink("Voltar para Página Inicial", "Index", "Home", null, new { @class = "btn btn-primary pull-right" })
    <div class="clearfix"></div>
</div>