﻿@{
    Layout = "~/Views/Shared/_Erro.cshtml";
    ViewBag.Title = "Acesso negado";
}

<strong>403</strong>
<h1>Opaaa! Acesso negado...</h1>    
<div class="error-message">
    <p>
        Desculpe, a página que você estava procurando é proibida e não pode ser acessada.
        Em caso de dúvida entre em contato com a GETI.
    </p>
    @Html.ActionLink("Voltar para Página Inicial", "Index", "Home", null, new { @class = "btn btn-primary pull-right" })
    <div class="clearfix"></div>
</div>