﻿@{
    Layout = "~/Views/Shared/_Erro.cshtml";
    ViewBag.Title = "Página não encontrada";
}

<strong>404</strong>
<h1>Opaaa! Página não encontrada...</h1>
<div class="error-message">
    <p>
        Desculpe, a página que você estava procurando não existe ou pode ter sido movida.
        Em caso de dúvida entre em contato com a GETI.
    </p>
    @Html.ActionLink("Voltar para Página Inicial", "Index", "Home", null, new { @class = "btn btn-primary pull-right" })
    <div class="clearfix"></div>
</div>