﻿@{
    Layout = "~/Views/Shared/_Erro.cshtml";
    ViewBag.Title = "Tempo esgotado";
}

<strong>408</strong>
<h1>Opaaa! Tempo esgotado...</h1>
<div class="error-message">
    <p>
        Desculpe, o tempo limite para executar sua solicitação esgotou.
        Tente novamente dentro de instantes. Se o problema persistir entre em contato com a GETI.
    </p>
    @Html.ActionLink("Voltar para Página Inicial", "Index", "Home", null, new { @class = "btn btn-primary pull-right" })
    <div class="clearfix"></div>
</div>