﻿@{
    Layout = "~/Views/Shared/_Erro.cshtml";
    ViewBag.Title = "Erro no servidor";
}

<strong>500</strong>
<h1>Opaaa! Erro no servidor...</h1>
<div class="error-message">
    <p>
        Desculpe, sua solicitação não pode ser atendida devido a um erro no servidor.
        Tente novamente dentro de instantes. Se o problema persistir entre em contato com a GETI.
    </p>
    @Html.ActionLink("Voltar para Página Inicial", "Index", "Home", null, new { @class = "btn btn-primary pull-right" })
    <div class="clearfix"></div>
</div>