﻿@{
    Layout = "~/Views/Shared/_Erro.cshtml";
    ViewBag.Title = "Servidor indisponível";
}

<strong>503</strong>
<h1>Opaaa! Servidor indisponível...</h1>
<div class="error-message">
    <p>
        Desculpe, o servidor está indisponível no momento porque está sobrecarregado ou em manutenção.
        Tente novamente dentro de instantes. Se o problema persistir entre em contato com a GETI.
    </p>
    @Html.ActionLink("Voltar para Página Inicial", "Index", "Home", null, new { @class = "btn btn-primary pull-right" })
    <div class="clearfix"></div>
</div>