@model Professor

<div class="row">
    <div class="col-md-10">
        <ul class="list-unstyled">
            <li><label> Nome:</label> @Model.Nome </li>
            <li><label> Endereco:</label> @Model.Endereco </li>
            <li><label> Telefone:</label> @Model.Telefone </li>
            <li><label> Celular:</label> @Model.Celular </li>
            <li><label> DataNascimento:</label> @Model.DataNascimento </li>
            <li><label> ValorAula:</label> @Model.ValorAula </li>
            <li><label> Email:</label> @Model.email </li>
            <li><label> Login:</label> @Model.Login </li>
        </ul>
    </div>
</div>
