@model ProfessorViewModel

<div class="form-group">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Nome)
                    @Html.TextBoxFor(model => model.Nome, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Nome)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Endereco)
                    @Html.TextBoxFor(model => model.Endereco, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Endereco)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Telefone)
                    @Html.TextBoxFor(model => model.Telefone, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Telefone)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Celular)
                    @Html.TextBoxFor(model => model.Celular, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Celular)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.DataNascimento)
                    <div class="input-group" data-behaviour="datepicker">
                        @Html.TextBoxFor(model => model.DataNascimento, new { Value = Model.DataNascimento.ToString("dd/MM/yyyy"), @class = "form-control" })
                        <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="glyphicon glyphicon-calendar"></i></button></span>
                    </div>
                    @Html.ValidationMessageFor(model => model.DataNascimento)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.ValorAula)
                    @Html.TextBoxFor(model => model.ValorAula, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ValorAula)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.email)
                    @Html.TextBoxFor(model => model.email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.email)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Login)
                    @Html.TextBoxFor(model => model.Login, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Login)
                </div>
            </div>

        </div>
    </div>
</div>

@Html.HiddenFor(model => model.id)
@Html.ValidationMessageFor(model => model.id)
