@model Professor

<div class="page-title">
    <h1>PROFESSORES</h1>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>DETALHES DO PROFESSOR</h4>
    </div>
    <div class="panel-body">
        @Html.Partial("_CamposDetalhe")
    </div>
    <div class="panel-footer text-right">
        @Html.LinkVoltarAListagem()
        @Html.LinkEditar(Model.id)
    </div>
</div>