/* GENERAL
----------------------------------------------------------------------------------------------------*/
*, h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif, "Helvetica Neue", Helvetica, Arial;
}

html, body {
    height: 100%;
    background-color: #e9e9e9;
}

.page-title { 
	margin-bottom: 25px;
	color: #304352;
}

.page-title h1 { 
	font-family: "Helvetica Neue", Helvetica, Arial;
    text-align: center;
    text-transform: uppercase;
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -80px;
    padding: 0 0 80px;
}

#wrap > .container {
    padding: 85px 15px 0;
}

*[data-behaviour="tooltip"], *[data-behaviour="popover"] {
    cursor: help;
}

.alert {
    margin-top: 20px;
}

@media (min-width: 1400px) {
    .container-lg {
        width: 1400px;
    }
}

.label-disabled {
    background-color: #CCC;
}

.profile-img {
    border: 1px solid #f1f1f1;
    width: 175px;
    height: 175px;
}

.profile-img-min {
    border: 1px solid #f1f1f1;
    width: 60px;
    height: 60px;
}

.resize-none {
    resize: none;
}

hr {
    border-top: 1px dashed #aaa;
}

/* FOOTER
----------------------------------------------------------------------------------------------------*/
footer {
    padding: 30px 0;
    height: 78px;
    border-top: 1px solid #e5e5e5;
    color: #888;
    background-color: #fff;
}

/* NAVBAR
----------------------------------------------------------------------------------------------------*/
.navbar {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.175);
}

.dropdown-menu {
    border: 1px solid #ccc;
}

@media (min-width: 769px) {
    .navbar {
        height: 79px;
    }
    .navbar .navbar-brand {
        padding: 3px 15px;
    }
    .navbar .navbar-brand img {
        height: 72px;
    }
    .navbar-nav > li > a {
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 12px;
        min-width: 90px;
    }
    .navbar-nav > li > a > i {
        font-size: 36px;
        display: block;
        padding-bottom: 3px;
    }
}

@media (max-width: 768px) {
    .navbar .navbar-brand {
        padding: 5px;
        color: #29166F;
    }
    .navbar .navbar-brand img {
        height: 40px;
        margin-right: 8px;
        display: inline-block;
    }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #29166F;
    color: #ffffff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #FBC200;
    color: #ffffff;
}
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #ffffff;
    text-decoration: none;
    outline: 0;
    background-color: #29166F;
}
.navbar-default .navbar-nav > li > a {
    color: #29166F;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #29166F;
    background-color: transparent;
}

/* PANEL
----------------------------------------------------------------------------------------------------*/
.panel {
    border: #E1E1E1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.175);
}

.panel .panel-body {
    min-height: 500px;
}

.panel .panel-body-elastic {
    min-height: 0;
}

.panel > .panel-heading {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 55px;
}
.panel > .panel-heading h4 {
    margin: 9px 0 0;
}

.panel > .panel-heading .form-control {
    display: inline-block;
}

.panel > .panel-heading div > i {
    padding: 2px 5px;
    font-size: 28px;
}

.panel > .panel-heading .select-year {
    width: 90px;
    margin-top: -11px;
}

@media (max-width: 768px) {
    .panel > .panel-heading {
        height: 100%;
    }
}

.panel-primary > .panel-heading {
    background-color: #FBC200;
    border-color: #FBC200;
}
.panel-success > .panel-heading {
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.panel-danger > .panel-heading {
    background-color: #d9534f;
    border-color: #d43f3a;
}
.panel-warning > .panel-heading {
    background-color: #FCB322;
    border-color: #fea900;
}
.panel-info > .panel-heading {
    background-color: #8075c4;
    border-color: #7164bf;
}

.panel-primary > .panel-heading h4,
.panel-success > .panel-heading h4,
.panel-danger > .panel-heading h4,
.panel-warning > .panel-heading h4,
.panel-info > .panel-heading h4 {
    color: #ffffff;
}

#sem-resultado h3 {
    padding-top: 200px;
}

/* PRINT
----------------------------------------------------------------------------------------------------*/
@media print {
    @page {
        size: portrait;
    }
    body { 
        padding: 0;
        margin: 0;
    }
    #wrap > .container {
        padding: 0;
    }
    .form-search {
        display: none;
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: auto;
    }
}

/* FORM
----------------------------------------------------------------------------------------------------*/
.form-section {
    color: #888;
    border-bottom: 1px dashed #aaa;
    padding-bottom: 5px;
    margin-bottom: 12px;
    margin-top: 20px;
}

.panel-body .form-section:first-child {
    margin-top: 0;
}

/* TABLES
----------------------------------------------------------------------------------------------------*/
.table {
    border: 1px solid #d5dcdf;
    box-shadow: 0 1px 2px #d1d1d1;
    margin-bottom: 20px;
}

.table-fixed {
    width: auto;
    max-width: auto;
}

/* thead */
.table thead tr th, .table tfoot tr th {
    background-color: #A9B7C3;
    background: -webkit-gradient(linear, left top, left bottom, from(#A9B7C3), to(#9FADB8));
    background: -moz-linear-gradient(top, #A9B7C3, #9FADB8);
    padding: 13px;
    font-weight: lighter;
    text-shadow: 0 1px 0 #8495A3;
    text-transform: uppercase;
    color: white;
    vertical-align: middle;
    border: 1px solid #8495A3;
}

/* tbody */
.table tbody tr td {
    border-bottom: 1px solid #d5dcdf;
    border-right: 1px solid #d5dcdf;
    border-top: 1px solid #dddddd;
    box-shadow: inset 0 1px 0 #fff,inset 2px 0 0 #fff;
    color: #5d676a;
    vertical-align: middle;
    padding: 8px;
    line-height: 1.42857143;
    background: #fefefe;
    background: -webkit-gradient(linear, left top, left bottom, from(#fdfdfd), to(#fefefe));
    background: -moz-linear-gradient(top, #fdfdfd, #fefefe);
}

.table tbody tr.odd td, .table tbody tr:nth-child(odd) td {
    background: #f6f6f6;
    background: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#f8f8f8));
    background: -moz-linear-gradient(top, #f6f6f6, #f8f8f8);
}

.table tbody tr:hover td {
    background-color: #fef7e0;
    background: -webkit-gradient(linear, left top, left bottom, from(#fef7e0), to(#fff3ca));
    background: -moz-linear-gradient(top, #fef7e0, #fff3ca);
}

/* actions */
.table .actions {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.table .actions a {
    margin-right: 3px;
    margin-bottom: 2px;
}

/* VALIDATION
----------------------------------------------------------------------------------------------------*/
.input-validation-error {
    border-color: #A94442;
}
.input-validation-error:focus {
	border-color: #843534;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 6px #CE8483;
}

.field-validation-error {
    color: #A94442;
}

/* LOGIN STYLE
----------------------------------------------------------------------------------------------------*/
#login-body {
    background: url('/background') no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    padding-top: 8%; 
}
#login-body .login-title {
    color: #FBC200;
    font-weight: 400;
    display: block;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}
#login-body .login-description {
    color: #f1f1f1;
}
#login-body .account-wall {
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: rgba(255,255,255,0.85);
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
#login-body .account-wall .alert {
    margin: 0 20px 20px 20px;
}
#login-body .account-wall form {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
#login-body .account-wall form .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#login-body .account-wall form .form-control:focus {
    z-index: 2;
}
#login-body .account-wall form input#login {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#login-body .account-wall form input#senha {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
#login-body .account-wall form input#senha.only-password {
    border-radius: 4px;
}
#login-body .account-wall form button, #login-body .account-wall form input[type="submit"] {
    margin-top: 10px;
}
#login-body .account-wall .profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    border: 1px solid #f1f1f1;
}
#login-body .account-wall .profile-name {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    height: 1em;
    overflow: hidden;
}
#login-body .account-wall .profile-email {
    font-size: 14px;
    text-align: center;
    display: block;
    color: #404040;
    padding: 3px 8px 6px;
    overflow: hidden;
    text-overflow: ellipsis;
}
#login-body .switch-account {
    color: #D9EDF7;
    display: block;
    margin-top: 10px;
}

/* ERROR PAGES
----------------------------------------------------------------------------------------------------*/
#error-content {
    font: 13px sans-serif;
    margin: 10px auto 0;
    min-width: 600px;
    width: 600px;
    padding: 25px;
    text-align: center;
}

#error-content .error-message {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}

#error-content h1 {
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 32px;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
}

#error-content p {
    margin-bottom: 10px;
}

#error-content strong {
    color: #fff;
    display: block;
    font-size: 1000%;
    text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15);
}

/* LOADING
----------------------------------------------------------------------------------------------------*/
#ajax-loading {
    position: fixed;
	margin-left: -75px; 
	margin-top: -50px;
    top: 50%; 
	left: 50%;
    width: 150px;
	height: 50px;
    background: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius:5px;
    font-weight: bold;
    color: #304352;
    padding: 5px 10px;
    z-index: 2147483647;
    display: none;
}
#ajax-loading i {
    font-size: 40px;
    margin-right: 10px;
    vertical-align: middle;
}

#overlay {
	z-index: 2147483646;
    height: 100%;
    position: fixed;
	display: none;
}