/* GENERAL
----------------------------------------------------------------------------------------------------*/
.label-inverse {
  background-color: #333; }

.btn-inverse {
  color: #ffffff;
  background-color: #363636;
  border-color: #222222; }

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  color: #ffffff;
  background-color: #222222;
  border-color: #000000; }

.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  background-image: none; }

.nav-tabs {
  margin-bottom: 20px; }

.text-count h1 {
  font-size: 130px;
  text-shadow: 0 1px 0 #cccccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbbbbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaaaaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }
.text-count h2 {
  margin-top: 0; }
.text-count:hover {
  text-decoration: none; }

/*backgrounds*/

.bg-primary {
    background: #8075c4 !important;
}

.bg-success {
    background: #a9d86e !important;
}

.bg-warning {
    background: #ffdd9e !important;
}

.bg-important {
    background: #ee3b7d !important;
}

.bg-info {
    background: #6fcff6 !important;
}

.bg-inverse {
    background: #2A3542 !important;
}

.bg-red {
    background: #D63542 !important;
}

.bg-blue {
    background: #2D7FE0 !important;
}

.bg-lightblue {
    background: #759EC4 !important;
}

.bg-yellow {
    background: #FFDE00 !important;
}

.bg-yelloworange {
    background: #FFCC66 !important;
}

.bg-green {
    background: #097054 !important;
}

.bg-cyan {
    background: #35D6C9 !important;
}

.bg-sky {
    background-color: #BBD9EE !important;
}

.bg-light {
    background-color: #F7F7F7 !important;
}

.bg-white {
    background: #FFFFFF !important;
}

/*text color*/

.text-danger {
    color: #ee3b7d /* rosa */;
}

.text-muted {
    color: #a1a1a1;
}

.text-primary {
    color: #59ace2;
}

.text-warning {
    color: #FCB322;
}

.text-success {
    color: #A9D86E;
}

.text-info {
    color: #8175c7;
}

/* autocomplete */

.autocomplete-suggestions { border: 1px solid #999; background: #fff; cursor: default; overflow: auto; }
.autocomplete-suggestion { padding: 10px 5px; font-size: 1.2em; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #f0f0f0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399ff; }