﻿@model PapelViewModel

<div class="form-group">
    @Html.LabelFor(model => model.nome)
    <div class="row">
        <div class="col-md-4">
            @Html.TextBoxFor(model => model.nome, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.nome)
        </div>
    </div>
</div>

<div class="form-group">
	@Html.LabelFor(model => model.usuariosList)
    <div class="row">
        <div class="col-md-12">
            @Html.ListBox("usuariosIds", Model.usuariosList, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.usuariosList)
        </div>
    </div>
</div>

@Html.HiddenFor(model => model.id)
@Html.ValidationMessageFor(model => model.id)