﻿@model Papel
      
<div class="form-group">
    @Html.LabelFor(x => x.nome)
    <p class="form-control-static">@Model.nome</p>
</div>
        
<div class="form-group">
    @Html.LabelFor(x => x.usuarios)

    @if(Model.usuarios != null)
    { 
        foreach (var reg in Model.usuarios)
        {
            <p class="form-control-static">@reg.login</p>
        }
    }
    
</div>