﻿@model PapelViewModel

<div class="page-title">
    <h1>PAPÉIS</h1>
</div>

@using (Html.BeginForm())
{
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4>NOVO PAPEL</h4>
        </div>
        <div class="panel-body">
            @Html.Partial("_CamposFormulario")
        </div>
        <div class="panel-footer text-right">
            @Html.LinkVoltarAListagem()
            <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-save"></i> Salvar</button>
        </div>
    </div>
}

@section scripts {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/css/jquery.rmultiselect.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery/jquery.rmultiselect.js")"></script>
    <script type="text/javascript">
        $(function () {
            $('select[multiple="multiple"]').RMultiSelect({ Title: '', SelectedTitle: 'Selecionados', NotSelectedTitle: 'Disponíveis' });
        });
    </script>
}