﻿@model Papel

<div class="page-title">
    <h1>PAPÉIS</h1>
</div>

@using (Html.BeginForm())
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>DETALHES DO PAPEL</h4>
        </div>
        <div class="panel-body">
            @Html.Partial("_CamposDetalhe")
        </div>
        <div class="panel-footer text-right">
            @Html.LinkVoltarAListagem()
            @Html.LinkEditar(Model.id)
        </div>
    </div>
}