﻿@model DataTableViewData<Papel>

<div class="page-title">
    <h1>PAPÉIS</h1>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>LISTA DE PAPÉIS</h4>
    </div>
    <div class="panel-body">
        @Html.DrawDataTable(Model)
    </div>
    <div class="panel-footer text-right">
        @Html.LinkCriarNovo()
    </div>
</div>

@section scripts {
    @Html.DrawDataTableHeader(ViewContext, Model)
}