@model FaturamentoAlunoViewModel

<div class="form-group">
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-8">
                    @Html.LabelFor(model => model.Aluno)
                    @Html.DropDownListFor(model => model.idAluno, Model.Aluno, String.Empty, new { @class = "form-control", data_behaviour = "select2", data_placeholder = "Escolha uma opção" })
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.Descricao)
                    @Html.TextBoxFor(model => model.Descricao, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Descricao)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.QtdHoras)
                    @Html.TextBoxFor(model => model.QtdHoras, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.QtdHoras)
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    @Html.LabelFor(model => model.ValorHora)
                    @Html.TextBoxFor(model => model.ValorHora, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ValorHora)
                </div>
            </div>
            <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(model => model.Data)
                <div class="input-group" data-behaviour="datepicker">
                    @Html.TextBoxFor(model => model.Data, new { Value = Model.Data.ToString("dd/MM/yyyy"), @class = "form-control" })
                    <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="glyphicon glyphicon-calendar"></i></button></span>
                </div>
                @Html.ValidationMessageFor(model => model.Data)
            </div>
            </div>

        </div>
    </div>
</div>

@Html.HiddenFor(model => model.id)
@Html.ValidationMessageFor(model => model.id)
