@model FaturamentoAlunoViewModel

<div class="page-title">
    <h1>FATURAMENTO ALUNO</h1>
</div>

@using (Html.BeginForm())
{
    <div class="panel panel-success">
        <div class="panel-heading">
            <h4>NOVO FATURAMENTO ALUNO</h4>
        </div>
        <div class="panel-body">
            @Html.Partial("_CamposFormulario")
        </div>
        <div class="panel-footer text-right">
            @Html.LinkVoltarAListagem()
            <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-save"></i> Salvar</button>
        </div>
    </div>
}