@model FaturamentoAluno

<div class="page-title">
    <h1>FATURAMENTO ALUNO</h1>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>DETALHES DO FATURAMENTO ALUNO</h4>
    </div>
    <div class="panel-body">
        @Html.Partial("_CamposDetalhes")
    </div>
    <div class="panel-footer text-right">
        @Html.LinkVoltarAListagem()
        @Html.LinkEditar(Model.id)
    </div>
</div>