@model DataTableViewData<FaturamentoAluno>

<div class="page-title">
    <h1>FATURAMENTO ALUNO</h1>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>FATURAMENTO ALUNO</h4>
    </div>
    <div class="panel-body">
        @Html.DrawDataTable(Model)
    </div>
    <div class="panel-footer text-right">
        @Html.LinkTo("Create", "btn btn-success", "Adicionar Novo Faturamento Aluno", "Novo Faturamento Aluno", "glyphicon glyphicon-plus")
    </div>
</div>

@section scripts {
    @Html.DrawDataTableHeader(ViewContext, Model, 5, DataTableSortDirection.Descending)
}