﻿@model String

@{
    int tamanho = 30;
}

@if (@Model.Length <= tamanho)
{
    <span>@Model</span>
}
else
{
    <span rel="popover" data-content="@Model" data-title="Descrição do Problema" data-trigger="hover">@Model.Substring(0, tamanho)...</span>
}