﻿@model LoginViewModel
@{
    Layout = "~/Views/Shared/_Login.cshtml";
    ViewBag.Title = "Autenticação requerida";

    var loginInCookie = Request.Cookies["sistema-login"];
}

<div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
    @*<img src="@Url.Content("/Content/Images/fermat.jpg")" style="width: 250px;" />*@
    <h1 class="text-center login-title">Login no Sistema</h1>
    <div class="account-wall">

        @if (loginInCookie != null)
        {
            <img class="profile-img img-circle" src="@Url.Content("/Content/Images/loading.gif")" data-src="@Url.Action("Foto", "Usuarios", new { login = loginInCookie.Value })" alt="Usuário">
        }
        else
        {
            <img class="profile-img img-circle" src="@Url.Action("Foto", "Usuarios")" alt="Usuário">
        }

        @using (Html.BeginForm())
        {
            if (loginInCookie != null)
            {
                <p class="profile-name">@Request.Cookies["sistema-nome"].Value</p>
                <span class="profile-email">@Request.Cookies["sistema-email"].Value</span>
                @Html.Hidden("login", loginInCookie.Value)

                @Html.TextBoxFor(model => model.senha, new { @class = "form-control only-password", type = "password", autofocus = true, placeholder = "Senha" })
            }
            else
            {
                @Html.TextBoxFor(model => model.login, new { @class = "form-control", autofocus = true, placeholder = "Login" })
                @Html.TextBoxFor(model => model.senha, new { @class = "form-control", type = "password", placeholder = "Senha" })
            }

            <button class="btn btn-lg btn-primary btn-block" data-loading-text="Aguarde..." type="submit">Fazer login</button>
        }

        <!-- NOTIFICATIONS -->
        @if (ViewData["error"] != null)
        {
            <div class="alert alert-danger alert-dismissable">
                <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
                <strong>Erro: </strong>@ViewData["error"]
            </div>
        }
        @if (ViewData["warning"] != null)
        {
            <div class="alert alert-warning alert-dismissable">
                <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
                <strong>Atenção: </strong>@ViewData["warning"]
            </div>
        }
        @if (ViewData["success"] != null)
        {
            <div class="alert alert-success alert-dismissable">
                <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
                <strong>Sucesso: </strong>@ViewData["success"]
            </div>
        }
        @if (ViewData["info"] != null)
        {
            <div class="alert alert-info alert-dismissable">
                <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
                <strong>Informação: </strong>@ViewData["success"]
            </div>
        }
    </div>
    @if (loginInCookie != null)
    {
        @Html.ActionLink("Acesse com uma conta diferente", "Trocar", null, new { @class = "text-center switch-account" })
    }
</div>