﻿@model Sistema.ViewModels.LocalPasswordModel
@{
    ViewBag.Title = "Alteração de Senha";
}

<div class="page-header">
    <h2>@ViewBag.Title.</h2>
</div>

<div class="form-horizontal">
    <p class="message-success">@ViewBag.StatusMessage</p>

    <p>You're logged in as <strong>@ViewBag.Nome</strong>.</p>

    @Html.Partial("_ChangePasswordPartial")

</div>

    @*@if (ViewBag.HasLocalPassword)
        {

        }
        else
        {*@
    @*@Html.Partial("_SetPasswordPartial")*@
    @*}*@

    @*<section id="externalLogins">
            @Html.Action("RemoveExternalLogins")

            <h3>Add an external login</h3>
            @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
        </section>*@

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
