﻿@model IEnumerable<SelectListItem>

@foreach(var item in Model) {
    <div style="padding: 2px 0;">
        <div class="make-switch" data-on-label="SIM" data-off-label="NÃO">
            <input type="checkbox" id="@item.Text" name="@ViewData["name"]" value="@item.Value" @(item.Selected ? "checked=\"checked\"" : "") />
        </div>
        @item.Text
    </div>
}