﻿<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <!-- STYLES -->
    @Styles.Render("~/Content/style")
</head>

<body id="login-body">
    <div id="error-content">
        <!-- MAIN CONTENT -->
        @RenderBody()
    </div>
</body>
</html>