﻿<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <title>Fermat</title>
    <meta charset="utf-8" />
    
    <!-- STYLES -->
    @Styles.Render("~/Content/style")
</head>

<body>
    <!-- LOADING -->
    <div id="ajax-loading"><i class="fa fa-cog fa-spin"></i>Carregando</div>
    <div id="overlay" class="modal-backdrop in"></div>

    <!-- MODAL -->
    <div id="modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Alerta</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <!-- WRAP -->
    <div id="wrap">
    
        <!-- HEADER -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container container-lg">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Navegação</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                        <img src="@Url.Content("~/Content/Images/fermat.jpg")" />
                    </a>
                </div>
                <div id="navbar-collapse" class="collapse navbar-collapse">
                    @if (!String.IsNullOrEmpty(User.Identity.Name) && Session["usuarioId"] != null)
                    {
                        @(Html.MvcSiteMap().Menu(false))
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <img src="@Url.Action("Foto", "Usuarios", new { login = Request.Cookies["sistema-login"].Value })" style="width: 58px; height: 58px" class="img-circle" title="@Request.Cookies["sistema-nome"].Value" />
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">@Request.Cookies["sistema-nome"].Value</li>
                                    <li class="divider"></li>
                                    <li><a href="@Url.Action("Details", "Usuarios", new { id = Session["usuarioId"] })"><i class="glyphicon glyphicon-user"></i> Meu perfil</a></li>
                                    <li><a href="@Url.Action("Logoff", "Conta")"><i class="glyphicon glyphicon-off"></i> Sair</a></li>
                                </ul>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <div class="navbar-right">
                            <a class="btn btn-default navbar-btn" href="@Url.Action("Login", "Conta")"><i class="glyphicon glyphicon-share-alt"></i> Entrar</a>
                        </div>
                    }
                </div>
            </div>
        </nav>

        <!-- MAIN CONTENT -->
        <div class="container container-lg">

            <!-- NOTIFICATIONS -->
            <div id="ajax-alert" class="alert alert-dismissable" style="display: none">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <span></span>
            </div>

            @if (ViewData["error"] != null)
            {
                <div class="alert alert-danger alert-dismissable">
                    <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
                    <strong>Erro: </strong>@ViewData["error"]
                </div>
            }

            @if (ViewData["warning"] != null)
            {
                <div class="alert alert-warning alert-dismissable">
                    <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
                    <strong>Atenção: </strong>@ViewData["warning"]
                </div>
            }

            @if (ViewData["success"] != null)
            {
                <div class="alert alert-success alert-dismissable">
                    <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
                    <strong>Sucesso: </strong>@ViewData["success"]
                </div>
            }

            @if (ViewData["info"] != null)
            {
                <div class="alert alert-info alert-dismissable">
                    <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
                    <strong>Informação: </strong>@ViewData["info"]
                </div>
            }

            @RenderBody()
        </div>

    </div>

    <!-- FOOTER -->
    <footer class="hidden-print">
        <div class="container container-lg">
            <div class="row">
                <div class="col-md-6 col-sm-12">CriaSoft</div>
                <div class="col-md-6 col-sm-12 text-right hidden-xs">Software de controle de reforço escolar.</div>
            </div>
        </div>
    </footer>

    <!-- SCRIPTS -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>