﻿<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>

    <!-- STYLES -->
    @Styles.Render("~/Content/style")

</head>

<body id="login-body">

    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>

    <!-- SCRIPTS -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>