﻿@{
    Layout = "~/Views/Shared/_Erro.cshtml";
    ViewBag.Title = "Erro na aplicação";
}

<strong>001</strong>
<h1>Opaaa! Erro na aplicação...</h1>
<div class="error-message">
    <p>
        Desculpe, ocorreu um erro ao processar o pedido. Provavelmente porque sua sessão expirou.
        Tente novamente dentro de instantes. Se o problema persistir entre em contato com a GETI.
    </p>
    @Html.ActionLink("Voltar para Página Inicial", "Login", "Conta", null, new { @class = "btn btn-primary pull-right" })
    <div class="clear"></div>
</div>