﻿@{
    ViewBag.Title = "Movimentacao Aluno";
}

<div class="page-title">
    <h1>RELATÓRIOS</h1>
</div>

@using (Html.BeginForm("Movimentação Aluno"))
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>MOVIMENTAÇÃO POR ALUNO</h4>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-8">
                        @Html.Label("Aluno")
                        @Html.DropDownList("idAluno", (IList<SelectListItem>)ViewBag.Alunos, String.Empty, new { @class = "form-control", data_behaviour = "select2", data_placeholder = "Escolha uma opção" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        @Html.Label("Data Inicio")
                        <div class="input-group" data-behaviour="datepicker">
                            @Html.TextBox("DataInicio", null, new { Value = DateTime.Now.ToString("dd/MM/yyyy"), @class = "form-control" })
                            <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="glyphicon glyphicon-calendar"></i></button></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        @Html.Label("Data Fim")
                        <div class="input-group" data-behaviour="datepicker">
                            @Html.TextBox("DataFim", null, new { Value = DateTime.Now.ToString("dd/MM/yyyy"), @class = "form-control" })
                            <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="glyphicon glyphicon-calendar"></i></button></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer text-right">
            <button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> Imprimir</button>
        </div>
    </div>
}