@model AgendaAula

<div class="row">
    <div class="col-md-10">
        <ul class="list-unstyled">
            <li><label> aluno:</label> @Model.aluno.nome </li>
            <li><label> Descricao:</label> @Model.Descricao </li>
            <li><label> HoraInicio:</label> @Model.Hora </li>
            <li><label> professor:</label> @Model.professor.Nome </li>
            <li><label> DataMovimento:</label> @Model.Data </li>
        </ul>
    </div>
</div>
