@model AgendaAulaViewModel

<div class="page-title">
    <h1>AGENDAMENTO DE AULAS</h1>
</div>

@using (Html.BeginForm())
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>EDITAR AGENDAMENTO DE AULA</h4>
        </div>
        <div class="panel-body">
            @Html.Partial("_CamposFormulario")
        </div>
        <div class="panel-footer text-right">
            @Html.LinkVoltarAListagem()
            <button type="submit" class="btn btn-success"><i class="glyphicon glyphicon-ok"></i> Alterar</button>
        </div>
    </div>
}

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('#timepicker1').datetimepicker({
                pickDate: false,
                pick24HourFormat: false,
                showSeconds: false
            });
        });
    </script>
}