@model DataTableViewData<AgendaAula>

<div class="page-title">
    <h1>AGENDAMENTO DE AULAS</h1>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>AGENDAMENTO DE AULAS</h4>
    </div>
    <div class="panel-body">
        @Html.DrawDataTable(Model)
    </div>
    <div class="panel-footer text-right">
        @Html.LinkTo("Create", "btn btn-success", "Adicionar Novo Agendamento de Aula", "Novo Agendamento de Aula", "glyphicon glyphicon-plus")
    </div>
</div>

@section scripts {
    @Html.DrawDataTableHeader(ViewContext, Model, 5, DataTableSortDirection.Descending)
}